<link rel="stylesheet" href="./styles/cards.css">


<div class="page-wrapper">
    <h1 class="h1-messages">Your sent messages:</h1>
    <h2>messages: <span class="messages-number">{{length}}</span></h2>
    <div class="cards-wrapper">

        {{#each messages}}
            <div class="table-show card">
                <div class="card-h1-content-wrapper">
                    <h2 class="h2-card">Message {{increment @index}}/{{@root.length}}:</h2>
                    <div class="content-wrapper">
                        <div class="fields-wrapper">
                            <p class="msg-card-p">title: <span class="msg-card-content">"{{this.title}}"</span>
                            </p>
                            <p class="msg-card-p">sent to: <span class="msg-card-content">{{this.to}}</span></p>
                            <p class="msg-card-p">sent at: <span class="msg-card-content">{{toLocaleDate
                                    this.sentAt}}</span></p>
                            <p class="msg-card-p">decrypted at: <span
                                    class="msg-card-content non-decrypted">{{isDecrypted this.decriptetAt}}</span></p>
                        </div>
                    </div>
                    <button class="btn-cockpit btn-messages" id="btn-copy">encrypt</button>
                    <button class="btn-cockpit delete btn-messages" id="btn-messages delete">delete</button>
                </div>
            </div>
        {{/each}}

    </div>
    <a href="/cockpit" class="a-cards">cockpit</a>
</div>