<link rel="stylesheet" href="./styles/cards.css">


<div class="page-wrapper">
    <h1 class="h1-messages" id="h1-messages">Your sent messages:</h1>
    <h2 id="h2-messages">messages: <span class="messages-number">{{length}}</span></h2>
    <div class="cards-wrapper">

        {{#each messages}}
            <div class="table-show card">
                <div class="card-h1-content-wrapper">
                    <h2 class="h2-card">Message {{increment @index}}/{{@root.length}}:</h2>
                    <div class="content-wrapper">
                        <div class="fields-wrapper">
                            <div id="message-id" hidden>id: {{this._id}}</div>
                            <p class="msg-card-p">title: <span class="msg-card-content">"{{this.title}}"</span>
                            </p>
                            <p class="msg-card-p">sent to: <span class="msg-card-content">{{this.to}}</span></p>
                            <p class="msg-card-p">sent at: <span class="msg-card-content">{{toLocaleDate
                                    this.sentAt}}</span></p>
                            <p class="msg-card-p">decrypted at: <span
                                    class="msg-card-content {{#if
                                            this.decryptedAt}}decrypted{{else}}non-decrypted{{/if}}">{{isDecrypted
                                    this.decryptedAt}}</span></p>
                        </div>
                    </div>
                    <button class="btn-cockpit btn-messages btn-msg-decrypt" data-id="{{this._id}}">decrypt</button>
                    <button class="btn-cockpit delete btn-messages btn-msg-delete" data-id="{{this._id}}">delete
                    </button>
                </div>
            </div>
        {{/each}}

    </div>
    <a href="/cockpit" class="a-cards">cockpit</a>
</div>
<script type="module" src="./js/messageCards.js"></script>

<!--@TODO CSS media messageCARDS - pilne!-->